*{
  text-align: center;
  background-color: whitesmoke;
}

h1{
  background-color: whitesmoke;
  font-size: 8vh;
}
.mainContainer{
  width: fit-content;
  margin: auto;
  margin-top: 3vh;
  background-color: whitesmoke;
}